@charset "UTF-8";

//infrastructure
@use "breakpoints";
@use "media";
@use "mixins";

//base
@use "base/variables";
@use "base/reset";
@use "base/typography";
@use "base/utilities";

//thems
@use "themes/light";
@use "themes/dark";

//components
@use "components/buttons";
@use "components/divider";
@use "components/theme-switch";

//blocks
@use "blocks/header";
@use "blocks/hero";
@use "blocks/benefits";
@use "blocks/features";
@use "blocks/specs";
@use "blocks/testimonial";
@use "blocks/steps";
@use "blocks/image-section";
@use "blocks/connect";