@use "scss/components/divider";
@use "scss/components/buttons";
@use "scss/breakpoints";
@use "scss/media";


.theme-switch {
  padding: 12px 16px;
  font-size: 1rem;

  .icon-dark {
    display: none;
  }

  @include media.down(breakpoints.$md) {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

.theme-toggle {
  &:checked + header {
    .theme-switch {
      .icon-light {
        display: none;
      }

      .icon-dark {
        display: inline;
      }
    }
  }
}

@include media.down(breakpoints.$sm) {
  .pr-space-4xl {
    padding-right: 0;
  }

  .ag-heading--1 {
    font-size: var(--responsive-font-size);
  }
}
