@use "scss/components/divider";
@use "scss/components/buttons";
@use "scss/breakpoints";
@use "scss/media";

* {
  margin: 0;
  padding: 0;
}

.theme-switch {
  padding: 12px 16px;
  font-size: 1rem;

  .icon-dark {
    display: none;
  }

  @include media.down(breakpoints.$md) {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

.theme-toggle {
  &:checked + header {
    .theme-switch {
      .icon-light {
        display: none;
      }

      .icon-dark {
        display: inline;
      }
    }
  }
}

header {
  position: relative;

  .icon-dark {
    display: none;
  }

  .navbar {
    .nav-links-wrapper {
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      background: rgba(255, 255, 255, 0.4);
      border-radius: var(--radius-pill);
    }
  }
}

.hero {
  &__heading {
    @include media.down(breakpoints.$lg) {
      font-size: 90px;
    }
    @include media.down(breakpoints.$sm) {
      font-size: 76px;
    }
  }

  &__visual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 362px;
    background-color: #8e9c78;
    border-radius: 32px;
    z-index: 1;
  }

  &__mask {
    position: relative;
    width: 100%;
    max-width: 907px;
    height: 475px;
    overflow: hidden;
    z-index: 2;

    @include media.down(breakpoints.$xl) {
      max-width: 655px;
    }

    @include media.down(breakpoints.$sm) {
      max-width: 270px;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    transform: translateY(160px);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;

    @include media.down(breakpoints.$xl) {
      transform: translateY(12px);
    }

    @include media.down(breakpoints.$sm) {
      transform: translateY(100px);
    }
  }
}

.benefits {
  &__item {
    border-top: 1px solid var(--color-divider-1);
  }
  &__icon {
    font-size: 24px;
    line-height: 24px;
  }

  &__media {
    height: 600px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.features {
  &__content {
    height: 711px;
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;

    @include media.down(breakpoints.$xl) {
      height: auto;
    }
  }

  &__item {
    border-top: 1px solid var(--color-divider-1);
  }

  &__text {
    color: var(--color-headline);
  }

  &__media {
    position: relative;
    overflow: hidden;
    height: 711px;

    @include media.down(breakpoints.$xl) {
      height: 744px;
    }
    @include media.down(breakpoints.$sm) {
      height: 400px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 85%;
  }
}

.specs {
  &__head {
    @include media.down(breakpoints.$xl) {
      padding: var(--space-4xl);
    }

    @include media.down(breakpoints.$sm) {
      padding: var(--space-4xl) var(--space-xxs);
    }
  }

  &__title {
    color: var(--color-headline);
  }

  &__scroll {
    overflow-x: auto;
  }

  &__scroll .row {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
  }

  &__column-wrapper {
    position: relative;
    cursor: pointer;
    min-width: 267px;
    flex: 0 0 auto;

    &:hover .ag-table-title,
    &:hover .specs__column {
      background-color: var(--compare-bg-hover);
      box-shadow: var(--compare-shadow-hover);
    }

    &.is-active .ag-table-title,
    &.is-active .specs__column {
      background-color: var(--compare-bg-active);
      box-shadow: var(--compare-shadow-active);
      border: none;
    }

    &.is-active .ag-table-title {
      border-radius: 20px 20px 0 0;
    }

    &.is-active .specs__column {
      border-radius: 0 0 20px 20px;
    }

    @include media.down(breakpoints.$sm) {
      width: 267px;
    }
  }

  &__text {
    color: var(--color-headline);
  }
}

.testimonial {
  &__content {
    @include media.down(breakpoints.$xl) {
      height: 376px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: var(--color-divider-1);
    flex-shrink: 0;
  }

  &__body {
    flex: 1;
    display: flex;

    @include media.down(breakpoints.$xl) {
      padding-left: 0;
    }
  }

  &__inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text {
    @include media.down(breakpoints.$sm) {
      font-size: 32px;
    }
  }
}

.steps {
  &__scroll {
    overflow-x: auto;
  }

  &__scroll .row {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
  }

  &__col {
    min-width: 300px;
    position: relative;
    cursor: pointer;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include media.down(breakpoints.$sm) {
      width: 300px;
    }
  }

  &__number {
    @include media.down(breakpoints.$md) {
      font-size: var(--ag-heading-1-size);
    }
  }
}

.image-section {
  &__media {
    position: relative;
    height: 665px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.connect {
  &__content {
    @include media.down(breakpoints.$xl) {
      padding-left: var(--space-5xl);
      padding-right: var(--space-5xl);
    }

    @include media.down(breakpoints.$sm) {
      padding-left: var(--space-xxs);
      padding-right: var(--space-xxs);
    }
  }
}

@include media.down(breakpoints.$sm) {
  .pr-space-4xl {
    padding-right: 0;
  }

  .ag-heading--1 {
    font-size: var(--responsive-font-size);
  }
}