body {
  background-color: var(--bg);
  color: var(--text);
}

.comparison-scroll .col-md-4:hover .ag-table-title,
.comparison-scroll .col-md-4:hover .specs__column {
  background-color: var(--compare-bg-hover);
  box-shadow: var(--compare-shadow-hover);
}

.comparison-scroll .col-md-4.is-active .ag-table-title,
.comparison-scroll .col-md-4.is-active .specs__column {
  background-color: var(--bg);
  box-shadow: var(--compare-shadow-active);
  border: 1px solid var(--color-divider-1);
  z-index: 2;
}

[data-bs-theme="dark"] {
  --compare-bg-hover: #0f172a;
  --compare-shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.6);

  --compare-bg-active: #111827;
  --compare-shadow-active: 0 10px 30px rgba(0, 0, 0, 0.8);
}

[data-bs-theme="dark"] .ag-paragraph,
[data-bs-theme="dark"] .ag-heading--1,
[data-bs-theme="dark"] .feature-item p.ag-paragraph,
[data-bs-theme="dark"] .ag-captions,
[data-bs-theme="dark"] ul.specs__column span.ag-captions,
[data-bs-theme="dark"] .ag-heading--2,
[data-bs-theme="dark"] .footer .ag-link {
  color: var(--text);
}
