/* переменные */
:root {
  --font-base: "DM Sans", sans-serif;
  --font-display: "Crimson Text", serif;
  --font-mono: "Roboto Mono", sans-serif;

  --ag-display--stats-size: 80px;
  --ag-display--stats-line: 1;
  --ag-display--stats-weight: 400;
  --ag-display--stats-spacing: -0.025em;

  --ag-display-size: 160px;
  --ag-display-line: 0.9;
  --ag-display-weight: 400;
  --ag-display-spacing: -0.0425em;

  --ag-heading-1-size: 60px;
  --ag-heading-1-line: 0.9;
  --ag-heading-1-weight: 400;
  --ag-heading-1-spacing: -0.03em;
  
  --ag-heading-2-size: 40px;
  --ag-heading-2-line: 1;
  --ag-heading-2-weight: 400;
  --ag-heading-2-spacing: -0.04em;
  
  --ag-heading-3-size: 18px;
  --ag-heading-3-line: 1;
  --ag-heading-3-weight: 400;
  --ag-heading-3-spacing: -0.03em;

  --ag-paragraph-size: 15px;
  --ag-paragraph-line: 1.4;
  --ag-paragraph-weight: 400;
  --ag-paragraph-spacing: -0.005em;

  --ag-link-size: 14px;
  --ag-link-line: 1.4;
  --ag-link-weight: 700;
  --ag-link-spacing: -0.025em;

  --ag-captions-size: 12px;
  --ag-captions-line: 1.4;
  --ag-captions-weight: 400;
  --ag-captions-spacing: -0.01em;

  --ag-logo-size: 30px;
  --ag-logo-line: 1.2;
  --ag-logo-weight: 400;
  --ag-logo-spacing: -0.05em;

  --ag-table-title-size: 23px;
  --ag-table-title-line: 1.2;
  --ag-table-title-weight: 500;
  --ag-table-title-spacing: -0.08em;

  /* background */
  --color-background-1: #FFFFFF;
  --color-text-primary: #000000; 

  /*  */
  --compare-bg-hover: #ffffff;
  --compare-shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.04);

  --compare-bg-active: #ffffff;
  --compare-shadow-active: 0 10px 30px rgba(0, 0, 0, 0.06);

  /* accent */
  --color-accent-1: #485c11;
  --color-accent-2: #DFECC6;
  --color-accent-3: #8E9C78;
  --color-accent-4: #000000;
  --color-accent-5: #6F6F6F;
  --color-accent-6: #929292;

  /* text */
  --color-headline: #000000;
  --color-paragraph: #6F6F6F;
  --color-captions: #485c11;
  --color-link: #000000;
  --color-on-accent-1: #ffffff;

  /* dividers */
  --color-divider-1: #E9E9E9;
 
  /* pading */
  --space-xxs: 14px;
  --space-xs: 20px;
  --space-sm: 22px;
  --space-md: 24px;
  --space-lg: 30px;
  --space-xl: 40px;
  --space-2xl: 50px;
  --space-3xl: 60px;
  --space-4xl: 80px;
  --space-5xl: 100px;
  --space-6xl: 120px;
  --space-7xl: 240px;
  --space-pill: 300px;

  /* gap */
  --gap-xxxs: 2px;
  --gap-xxs: 8px;
  --gap-xs: 10px;
  --gap-sm: 20px;
  --gap-md: 24px;
  --gap-lg: 27px;
  --gap-xl: 30px;
  --gap-2xl: 40px;
  --gap-3xl: 50px;
  --gap-4xl: 60px;
  --gap-5xl: 80px;
  --gap-pill: 240px;

  /* RADIUS */
  --radius-sm: 20px;
  --radius-md: 24px;
  --radius-lg: 30px;
  --radius-pill: 1000px;
}