@use "sass:map";
@use "../base/variables";

.benefits {
  &__item {
    border-top: 1px solid map.get(variables.$colors, divider-1);
  }
  &__icon {
    font-size: 24px;
    line-height: 24px;
  }

  &__media {
    height: 600px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}