@use "sass:map";
@use "../base/variables";
@use "../media";
@use "../breakpoints";

.features {
  &__content {
    height: 711px;
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;

    @include media.down(breakpoints.$xl) {
      height: auto;
    }
  }

  &__item {
    border-top: 1px solid map.get(variables.$colors, divider-1);
  }

  &__text {
    color: var(--color-headline);
  }

  &__media {
    position: relative;
    overflow: hidden;
    height: 711px;

    @include media.down(breakpoints.$xl) {
      height: 744px;
    }
    @include media.down(breakpoints.$sm) {
      height: 400px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 85%;
  }
}