@use "../media";
@use "../breakpoints";

.hero {
  &__heading {
    @include media.down(breakpoints.$lg) {
      font-size: 90px;
    }
    @include media.down(breakpoints.$sm) {
      font-size: 76px;
    }
  }

  &__visual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 362px;
    background-color: #8e9c78;
    border-radius: 32px;
    z-index: 1;
  }

  &__mask {
    position: relative;
    width: 100%;
    max-width: 907px;
    height: 475px;
    overflow: hidden;
    z-index: 2;

    @include media.down(breakpoints.$xl) {
      max-width: 655px;
    }

    @include media.down(breakpoints.$sm) {
      max-width: 270px;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    transform: translateY(160px);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;

    @include media.down(breakpoints.$xl) {
      transform: translateY(12px);
    }

    @include media.down(breakpoints.$sm) {
      transform: translateY(100px);
    }
  }
}