[data-bs-theme="light"] {
  --bg: #ffffff;
  --text: #000000;

  --compare-bg-hover: #ffffff;
  --compare-bg-active: #ffffff;

  --compare-shadow-hover: 0 6px 18px rgba(15, 23, 42, .08);
  --compare-shadow-active: 0 10px 30px rgba(15, 23, 42, .12);

  --compare-border-active: #e9e9e9;
}