[data-bs-theme="light"] {
  --bg: #ffffff;
  --text: #000000;

  --spec-bg-hover: #ffffff;
  --spec-bg-active: #ffffff;
  --spec-shadow-hover: 0 6px 18px rgba(15, 23, 42, .08);
  --spec-shadow-active: 0 10px 30px rgba(15, 23, 42, .12);
}